GestionTPE/GestionTPE/Service References/Client_OSS/OnlineServerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OnlineServerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/OnlineServerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/OnlineServerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOnlineServerService_GetLoyaltyPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoyaltyPoints" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_GetLoyaltyPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoyaltyPointsResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_GetLoyaltyBarCodeStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoyaltyBarCodeStatus" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_GetLoyaltyBarCodeStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoyaltyBarCodeStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_BurnLoyaltyBarCodeBarre_InputMessage">
    <wsdl:part name="parameters" element="tns:BurnLoyaltyBarCodeBarre" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_BurnLoyaltyBarCodeBarre_OutputMessage">
    <wsdl:part name="parameters" element="tns:BurnLoyaltyBarCodeBarreResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_FreeLoyaltyBarCode_InputMessage">
    <wsdl:part name="parameters" element="tns:FreeLoyaltyBarCode" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_FreeLoyaltyBarCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:FreeLoyaltyBarCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_HasPendingOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:HasPendingOperation" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_HasPendingOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasPendingOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_GetCardParameter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardParameter" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_GetCardParameter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardParameterResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_AckCardParameterApplied_InputMessage">
    <wsdl:part name="parameters" element="tns:AckCardParameterApplied" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_AckCardParameterApplied_OutputMessage">
    <wsdl:part name="parameters" element="tns:AckCardParameterAppliedResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_AckCardParameter_InputMessage">
    <wsdl:part name="parameters" element="tns:AckCardParameter" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_AckCardParameter_OutputMessage">
    <wsdl:part name="parameters" element="tns:AckCardParameterResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_AckDownloadingCredits_InputMessage">
    <wsdl:part name="parameters" element="tns:AckDownloadingCredits" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_AckDownloadingCredits_OutputMessage">
    <wsdl:part name="parameters" element="tns:AckDownloadingCreditsResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_InitConn_InputMessage">
    <wsdl:part name="parameters" element="tns:InitConn" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_InitConn_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitConnResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_GetBlackListCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlackListCode" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_GetBlackListCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlackListCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_GetDownloadingCredits_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDownloadingCredits" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_GetDownloadingCredits_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDownloadingCreditsResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_IsManCodeValid_InputMessage">
    <wsdl:part name="parameters" element="tns:IsManCodeValid" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_IsManCodeValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsManCodeValidResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_CanTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:CanTransfer" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_CanTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_Transfer_InputMessage">
    <wsdl:part name="parameters" element="tns:Transfer" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_Transfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_CanCancelTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:CanCancelTransfer" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_CanCancelTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanCancelTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_SendDump_InputMessage">
    <wsdl:part name="parameters" element="tns:SendDump" />
  </wsdl:message>
  <wsdl:message name="IOnlineServerService_SendDump_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendDumpResponse" />
  </wsdl:message>
  <wsdl:portType name="IOnlineServerService">
    <wsdl:operation name="GetLoyaltyPoints">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineServerService/GetLoyaltyPoints" message="tns:IOnlineServerService_GetLoyaltyPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineServerService/GetLoyaltyPointsResponse" message="tns:IOnlineServerService_GetLoyaltyPoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoyaltyBarCodeStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineServerService/GetLoyaltyBarCodeStatus" message="tns:IOnlineServerService_GetLoyaltyBarCodeStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineServerService/GetLoyaltyBarCodeStatusResponse" message="tns:IOnlineServerService_GetLoyaltyBarCodeStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BurnLoyaltyBarCodeBarre">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineServerService/BurnLoyaltyBarCodeBarre" message="tns:IOnlineServerService_BurnLoyaltyBarCodeBarre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineServerService/BurnLoyaltyBarCodeBarreResponse" message="tns:IOnlineServerService_BurnLoyaltyBarCodeBarre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FreeLoyaltyBarCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineServerService/FreeLoyaltyBarCode" message="tns:IOnlineServerService_FreeLoyaltyBarCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineServerService/FreeLoyaltyBarCodeResponse" message="tns:IOnlineServerService_FreeLoyaltyBarCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasPendingOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineServerService/HasPendingOperation" message="tns:IOnlineServerService_HasPendingOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineServerService/HasPendingOperationResponse" message="tns:IOnlineServerService_HasPendingOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCardParameter">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineServerService/GetCardParameter" message="tns:IOnlineServerService_GetCardParameter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineServerService/GetCardParameterResponse" message="tns:IOnlineServerService_GetCardParameter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AckCardParameterApplied">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineServerService/AckCardParameterApplied" message="tns:IOnlineServerService_AckCardParameterApplied_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineServerService/AckCardParameterAppliedResponse" message="tns:IOnlineServerService_AckCardParameterApplied_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AckCardParameter">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineServerService/AckCardParameter" message="tns:IOnlineServerService_AckCardParameter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineServerService/AckCardParameterResponse" message="tns:IOnlineServerService_AckCardParameter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AckDownloadingCredits">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineServerService/AckDownloadingCredits" message="tns:IOnlineServerService_AckDownloadingCredits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineServerService/AckDownloadingCreditsResponse" message="tns:IOnlineServerService_AckDownloadingCredits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitConn">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineServerService/InitConn" message="tns:IOnlineServerService_InitConn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineServerService/InitConnResponse" message="tns:IOnlineServerService_InitConn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineServerService/Disconnect" message="tns:IOnlineServerService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineServerService/DisconnectResponse" message="tns:IOnlineServerService_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlackListCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineServerService/GetBlackListCode" message="tns:IOnlineServerService_GetBlackListCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineServerService/GetBlackListCodeResponse" message="tns:IOnlineServerService_GetBlackListCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDownloadingCredits">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineServerService/GetDownloadingCredits" message="tns:IOnlineServerService_GetDownloadingCredits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineServerService/GetDownloadingCreditsResponse" message="tns:IOnlineServerService_GetDownloadingCredits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsManCodeValid">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineServerService/IsManCodeValid" message="tns:IOnlineServerService_IsManCodeValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineServerService/IsManCodeValidResponse" message="tns:IOnlineServerService_IsManCodeValid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineServerService/CanTransfer" message="tns:IOnlineServerService_CanTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineServerService/CanTransferResponse" message="tns:IOnlineServerService_CanTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Transfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineServerService/Transfer" message="tns:IOnlineServerService_Transfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineServerService/TransferResponse" message="tns:IOnlineServerService_Transfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanCancelTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineServerService/CanCancelTransfer" message="tns:IOnlineServerService_CanCancelTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineServerService/CanCancelTransferResponse" message="tns:IOnlineServerService_CanCancelTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendDump">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineServerService/SendDump" message="tns:IOnlineServerService_SendDump_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineServerService/SendDumpResponse" message="tns:IOnlineServerService_SendDump_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="http_IOnlineServerService" type="tns:IOnlineServerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLoyaltyPoints">
      <soap:operation soapAction="http://tempuri.org/IOnlineServerService/GetLoyaltyPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoyaltyBarCodeStatus">
      <soap:operation soapAction="http://tempuri.org/IOnlineServerService/GetLoyaltyBarCodeStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BurnLoyaltyBarCodeBarre">
      <soap:operation soapAction="http://tempuri.org/IOnlineServerService/BurnLoyaltyBarCodeBarre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FreeLoyaltyBarCode">
      <soap:operation soapAction="http://tempuri.org/IOnlineServerService/FreeLoyaltyBarCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasPendingOperation">
      <soap:operation soapAction="http://tempuri.org/IOnlineServerService/HasPendingOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardParameter">
      <soap:operation soapAction="http://tempuri.org/IOnlineServerService/GetCardParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AckCardParameterApplied">
      <soap:operation soapAction="http://tempuri.org/IOnlineServerService/AckCardParameterApplied" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AckCardParameter">
      <soap:operation soapAction="http://tempuri.org/IOnlineServerService/AckCardParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AckDownloadingCredits">
      <soap:operation soapAction="http://tempuri.org/IOnlineServerService/AckDownloadingCredits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitConn">
      <soap:operation soapAction="http://tempuri.org/IOnlineServerService/InitConn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap:operation soapAction="http://tempuri.org/IOnlineServerService/Disconnect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlackListCode">
      <soap:operation soapAction="http://tempuri.org/IOnlineServerService/GetBlackListCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDownloadingCredits">
      <soap:operation soapAction="http://tempuri.org/IOnlineServerService/GetDownloadingCredits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsManCodeValid">
      <soap:operation soapAction="http://tempuri.org/IOnlineServerService/IsManCodeValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanTransfer">
      <soap:operation soapAction="http://tempuri.org/IOnlineServerService/CanTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transfer">
      <soap:operation soapAction="http://tempuri.org/IOnlineServerService/Transfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanCancelTransfer">
      <soap:operation soapAction="http://tempuri.org/IOnlineServerService/CanCancelTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDump">
      <soap:operation soapAction="http://tempuri.org/IOnlineServerService/SendDump" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OnlineServerService">
    <wsdl:port name="http_IOnlineServerService" binding="tns:http_IOnlineServerService">
      <soap:address location="http://localhost:8080/OnlineServerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>